<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/index_800.css">
    <link rel="stylesheet" href="../css/contul_meu.css">
    <link rel="stylesheet" href="../css/contul_meu400.css">
    <link rel="icon" href="../images/favicon1.ico">
    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/nav.css">


    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Contul meu</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li><a href="retete.html"><i class="fas fa-utensils"></i></a></li>
                <li>
                    <a href="./"><img id="logo-img" src="../images/logo.png" alt="Pagina acasa"></a>
                </li>
                <li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
                <li class="user" id="switcher"><a href="login.html"><i class="far fa-user"></i></a></li>
                <script src="../js/logged_user.js"></script>
            </ul>
        </nav>
        <script src="../js/nav.js"></script>
        <div id="logout"></div>
        <script src="../js/logout.js" type="module"></script>
    </header>




    <main>
        <!-- <aside>
            <div class="formular">
                <p>Poza de profil</p>
                <img src="../images/1.jpg" alt="Poza ta de profil">
                <form method="POST" action="http://localhost:5000/change?type_of_change=picture">
                    <div>
                        <input type="file" id="poza_profil" name="poza_profil" value="Adauga poza" required>
                    </div>
                    <input type="submit" id="schimba_poza" name="schimba_poza" value="Confirma">
                </form>
            </div>
        </aside> -->

        <div id="formulare_configurare">
            <script type="module" src='../js/add_admin_button.js'></script>

            <div class="formular">
                <p>Schimbare username</p>
                <form method="POST" action="http://localhost:5000/change?type_of_change=username">
                    <div>
                        <label for="username">Username nou:</label>
                        <input type="text" id="username" name="username" maxlength="30" required>
                    </div>

                    <div>
                        <label for="parola_username">Parola:</label>
                        <input type="password" id="parola_username" name="parola" required>
                    </div>
                    <input type="submit" id="schimba_username" name="schimba_username" value="Confirma">
                </form>
            </div>

            <div class="formular">
                <p>Schimbare email</p>
                <form method="POST" action="http://localhost:5000/change?type_of_change=email">
                    <div>
                        <label for="email_vechi">Email vechi:</label>
                        <input type="email" id="email_vechi" name="email_vechi" maxlength="30" required>
                    </div>

                    <div>
                        <label for="email_nou">Email nou:</label>
                        <input type="email" id="email_nou" name="email_nou" required>
                    </div>

                    <div>
                        <label for="parola_email">Parola:</label>
                        <input type="password" id="parola_email" name="parola" required>
                    </div>
                    <input type="submit" id="schimba_email" name="schimba_email" value="Confirma">
                </form>
            </div>

            <div class="formular">
                <p>Schimbare parola</p>
                <form method="POST" action="http://localhost:5000/change?type_of_change=password">
                    <div>
                        <label for="parola_veche">Parola veche:</label>
                        <input type="password" id="parola_veche" name="parola_veche" maxlength="30" required>
                    </div>

                    <div>
                        <label for="parola_noua">Parola noua:</label>
                        <input type="password" id="parola_noua" name="parola_noua" required>
                    </div>

                    <div>
                        <label for="parola_noua2">Confirma parola noua:</label>
                        <input type="password" id="parola_noua2" name="parola_noua2" required>
                    </div>
                    <input type="submit" id="schimba_parola" name="schimba_parola" value="Confirma">
                </form>
            </div>
        </div>

    </main>


    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        <a class="documentatie" href="documentatie.html">About the project</a>
    </footer>
</body>

</html>