<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/favorite.css">
    <link rel="stylesheet" href="../css/filtre.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li><a href="retete.html"><i class="fas fa-utensils"></i></a></li>
                <li>
                    <a href="/"><img id="logo-img" src="../images/logo.png" alt="Pagina acasa"></a>
                </li>
                <li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
                <li class="user" id="switcher"><a href="login.html"><i class="far fa-user"></i></a></li>
                <script src="../js/logged_user.js"></script>
            </ul>
        </nav>
        <script src="../js/nav.js"></script>

        <div id="logout"></div>
        <script src="../js/logout.js" type="module"></script>
    </header>


    <form id="ranking">
        <div class="filter_item">
            <label for="ranking_name">Clasament</label>

            <select name="ranking_name" id="ranking_type">
                <option value=""></option>
                <option value="retete_populare">Retete populare</option>
                <option value="ingrediente_include">Ingredientele cele mai utilizate</option>
                <option value="ingrediente_exclude">Ingredientele cele mai evitate</option>
            </select>
        </div>


        <div class="filter_item">
            <label for="file_format">Format</label>

            <select name="file_format" id="file_type">
                <option value=""></option>
                <option value="csv">CSV</option>
                <option value="json">JSON</option>
                <option value="html">HTML</option>
            </select>
        </div>
        <a class="submit"><input type="submit" value="Descarca" id="download"></a>
    </form>

    <section>


        <div class="container">
            <div class="card-wrapper">
            </div>
        </div>
        <script type="module" src="../js/index.js"></script>
    </section>

    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        <a class="documentatie" href="/views/documentatie.html">About the project</a>
    </footer>
</body>

</html>