<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/favorite.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acasa</title>
</head>

<body>
    <header>
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li><a href="retete.html"><i class="fas fa-utensils"></i></a></li>
                <li>
                    <a href="/"><img id="logo-img" src="../images/logo.png" alt="Pagina acasa"></a>
                </li>
                <li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
                <li><a href="login.html"><i class="far fa-user"></i></a></li>
            </ul>
        </nav>
        <script src="../js/nav.js"></script>
    </header>


    <section>
        <div class="container">
            <div class="card-wrapper">
                <a href="reteta.html">
                    <div class="card">
                        <img src="../images/1.jpg" alt="poza cu reteta 1" class="card-img">
                        <h2>Rețeta 1</h2>
                        <p class="descriere">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
                        </p>
                        <div class="filtre">
                            <div class="time bg">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate bg">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate bg">
                                <i class="far fa-comments"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="reteta.html">
                    <div class="card">
                        <img src="../images/2.jpg" alt="poza cu reteta 2" class="card-img">
                        <h2>Rețeta 2</h2>
                        <p class="descriere">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
                        </p>
                        <div class="filtre">
                            <div class="time bg">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate bg">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate bg">
                                <i class="far fa-comments"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>

                    </div>
                </a>

                <a href="reteta.html">
                    <div class="card">
                        <img src="../images/3.jpg" alt="poza cu reteta 3" class="card-img">
                        <h2>Rețeta 3</h2>
                        <p class="descriere">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
                        </p>
                        <div class="filtre">
                            <div class="time bg">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate bg">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate bg">
                                <i class="far fa-comments"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="reteta.html">
                    <div class="card">
                        <img src="../images/4.jpg" alt="poza cu reteta 4" class="card-img">
                        <h2>Rețeta 4</h2>
                        <p class="descriere">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
                        </p>
                        <div class="filtre">
                            <div class="time bg">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate bg">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate bg">
                                <i class="far fa-comments"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="reteta.html">
                    <div class="card">
                        <img src="../images/5.jpg" alt="poza cu reteta 5" class="card-img">
                        <h2>Rețeta 5</h2>
                        <p class="descriere">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
                        </p>
                        <div class="filtre">
                            <div class="time bg">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate bg">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate bg">
                                <i class="far fa-comments"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        <a class="documentatie" href="/views/documentatie.html">About the project</a>
    </footer>
</body>

</html>