<!DOCTYPE html>
<html lang="ro">

<head>
    <meta charset="UTF-8">
    <title>Titlu</title>
    <link rel="icon" href="../images/favicon1.ico">
    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/reteta.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/index.css">

</head>

<body>
    <header>
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li><a href="retete.html"><i class="fas fa-utensils"></i></a></li>
                <li>
                    <a href="./"><img id="logo-img" src="../images/logo.png" alt="Pagina acasa"></a>
                </li>
                <li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
                <li id="switcher"><a href="login.html"><i class="far fa-user"></i></a></li>
            </ul>
        </nav>
        <script src="../js/nav.js"></script>
        <div id="logout"></div>
        <script src="../js/logout.js" type="module"></script>
    </header>


    <main>
        <section id="reteta">
            <div class="container-reteta">

                <div class="imagine-reteta" id="imagine-reteta">
                    <!-- <img class="img" src="images/retete/oats.jpg" alt="Poza a retetei 1"> -->
                </div>

                <div>
                    <div class="header">
                        <div class="recipe-info" id="recipe-info">

                            <div id="recipe_title"></div>

                            <div class="adauga-favorite" id="adauga_favorite"></div>

                        </div>
                        <div class="filtre">
                            <div class="time" id="time">
                                <i class="far fa-clock"></i>
                            </div>
                            <div class="dificultate" id="dificultate">
                                <i class="fab fa-gripfire"></i>
                            </div>
                            <div class="popularitate" id="popularitate">
                                <i class="far fa-thumbs-up"></i>
                            </div>
                        </div>
                    </div>
                    <script src="../js/reteta/adauga_sterge_fav.js" type="module"></script>


                    <div class="reteta">

                        <div class="ingrediente">
                            <h2>Ingrediente</h2>

                            <ul class="ingrediente" id="ingrediente">

                                <!-- <li>
                                    <div class="container-ingredient">
                                        <span class="gramaj">50g</span>
                                        <div class="ingredient">
                                            <span class="numele-ingheientului">căpsuni înghețate</span>
                                        </div>
                                    </div>
                                </li> -->
                            </ul>
                        </div>

                        <div class="instructiuni" id="instructiuni">
                            <h2>Instrucțiuni</h2>
                        </div>
                    </div>

                    <div class="comentarii">
                        <button class="comentarii-btn">
                            <a href="comentarii.html" class="ref" id="add_comment">
                                <i class="far fa-comments"> </i>
                                <span class="btn">Ai încercat rețeta?</span>
                            </a>
                        </button>
                    </div>

                </div>

            </div>

        </section>

        <section id="comentarii">
            <div class="container-comentarii">
                <h1 class="Comentarii">Comentarii</h1>
                <div class="comm-wraper" id="comment_list">
                    <div class="comment">
                        <h3 class="nume">Michell Gonzalez</h3>
                        <p class="comment-text">Am comentat si eu daca e..</p>
                        <div class="comm">
                            <button type="button" class="collapsible">Vezi poza</button>
                            <div class="content">
                                <img class="coment-img" src="images/1.jpg" alt="poza din cometariu">
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <h3 class="nume">George Hora</h3>
                        <p class="comment-text">comentariu mai lung bla bla bla blacomentariu mai lung bla bla bla blacomentariu mai lung bla bla bla blacomentariu mai lung bla bla bla blacomentariu mai lung bla bla bla blacomentariu mai lung bla bla bla blacomentariu mai lung
                            bla bla bla bla</p>
                        <div class="comm">
                            <button type="button" class="collapsible">Vezi poza</button>
                            <div class="content">
                                <img class="coment-img" src="images/1.jpg" alt="poza din cometariu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        <a class="documentatie" href="documentatie.html">About the project</a>
    </footer>

</body>
<script src="../js/reteta/reteta.js" type="module"></script>

</html>