<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/retetele_mele.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/favorite.css">

	<link rel="icon" href="../images/favicon1.ico">
	<script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../css/nav.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Retete</title>
</head>

<body>
	<header>
		<nav>
			<ul class="nav">
				<li>
					<div class="search-box">
						<input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
						<a class="search-button" href="#">
							<i class="fas fa-search"></i>
						</a>
					</div>
				</li>
				<li><a href="retetele_mele.html"><i class="fas fa-utensils"></i></a></li>
				<li><a href="./"><img id="logo-img" src="../images/logo.png" alt="Pagina acasa"></a> </li>
				<li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
				<li><a href="login.html"><i class="far fa-user"></i></a></li>
			</ul>
		</nav>
	</header>


	<form class="filters" method="GET">
		<p>Afiseaza retetele dupa:</p>

		<div>

			<div class="filter_item">
				<label for="nivel_dificultate">Nivel de dificultate</label>
				<select id="nivel_dificultate" name="nivel_dificultate">
					<option value="-"></option>
					<option value="incepator">Incepator</option>
					<option value="mediu">Mediu</option>
					<option value="bun">Bun</option>
					<option value="foarte_bun">Foarte bun</option>
					<option value="master_chef">Master chef</option>
				</select>
			</div>

			<div class="filter_item">
				<label for="include">Include ingrediente</label>
				<input type="text" name="include">
			</div>

			<div class="filter_item">
				<label for="exclude">Exclude ingrediente</label>
				<input type="text" name="exclude">
			</div>

			<div class="filter_item">
				<label for="timp"> Timp preparare </label>
				<!-- <input type="text" name="timp"> -->
				<select name="timp">
					<option value="-"></option>
					<option value="ascendent">ascendent</option>
					<option value="descendent">descendent</option>
				</select>
			</div>

			<div class="filter_item">
				<label for="data">Data</label>
				<select name="data">
					<option value="-"></option>
					<option value="ascendent">ascendent</option>
					<option value="descendent">descendent</option>
				</select>
			</div>

			<div class="filter_item">
				<label for="popularitate">Popularitate</label>
				<select name="popularitate">
					<option value="-"></option>
					<option value="ascendent">ascendent</option>
					<option value="descendent">descendent</option>
				</select>
			</div>
		</div>

		<a class="submit"><input type="submit" value="Afiseaza"></a>
	</form>

	<div class="adauga-reteta">
		<button class="adauga">
			<a href="/adauga_reteta.html" class="ref">
				<i class="fas fa-plus"></i>
				<span class="btn">Adaugă o rețetă</span>
			</a>
		</button>
	</div>
	<section>
		<div class="container">
			<div class="card-wrapper">
				<!-- <a href="reteta.html">
					<div class="card">
						<img src="../images/5.jpg" alt="poza cu reteta 5" class="card-img">
						<h2>Rețeta 5</h2>
						<p class="descriere">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolores ea eaque harum iste, natus quos repellat totam? Beatae ea exercitationem explicabo ipsa pariatur, perspiciatis quasi quis sapiente soluta vero!
						</p>
						<div class="filtre">
							<div class="time bg">
								<i class="far fa-clock"></i>
								<span class="txt">30min</span>
							</div>
							<div class="dificultate bg">
								<i class="fab fa-gripfire"></i>
								<span class="txt">Ușor</span>
							</div>
							<div class="popularitate bg">
								<i class="far fa-comments"></i>
								<span class="txt">30</span>
							</div>
						</div>
					</div>
				</a> -->
			</div>
		</div>
		<script src="../js/retete.js"></script>
	</section>


	<footer>
		<p>Creators:</p>
		<div class="creators">
			<div class="creator">
				<p>Boghiu Georgiana</p>
				<a href="#" class="face">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
			<div class="creator">
				<p>Cernat Roxana</p>
				<a href="#" class="face">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
			<div class="creator">
				<p>Formagiu Miky</p>
				<a href="#" class="face">
					<i class="fab fa-facebook-f"></i>
				</a>
			</div>
		</div>
		<p>Copyrights reserved.</p>
		<a class="documentatie" href="documentatie.html">About the project</a>
	</footer>
</body>

</html>