<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/adauga_reteta.css">
    <link rel="stylesheet" href="../css/adauga_reteta_800.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/index_800.css">
    <link rel="icon" href="images/favicon1.ico">
    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/nav.css">

    <!-- libraria pentru icon-urile de la meniu: font-awesome.min.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <title>Adauga reteta</title>
</head>
<body>
<header>
    <nav>
        <ul class="nav">
            <li>
                <div class="search-box">
                    <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                    <a class="search-button" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </li>
            <li><a href="retetele_mele.html"><i class="fas fa-utensils"></i></a></li>
            <li><a href="index.html"><img id="logo-img" src="images/logo.png" alt="Pagina acasa"></a> </li>
            <li><a href="favorite.html"><i class="far fa-heart"></i></a></li>
            <li><a href="login.html"><i class="far fa-user"></i></a></li>
        </ul>
    </nav>
</header>


    <main>
    <form method="POST" action="">
        <div>
        <label for="titlu">Titlu</label>
        <input type="text" id="titlu" name="titlu" placeholder="Titlu..." required><br>
        </div>
        <div>
        <label for="poza">Poza</label>
        <input type="file" id="poza" name="poza" required><br>
        </div>

        <div>
        <label for="valoare_timp">Timp de preparare</label>
        <input type="number" id="valoare_timp" name="valoare_timp" min="1" required>

        <label for="unitate_timp"></label>
        <select id="unitate_timp" name="unitate_timp">
            <option value="minute">minute</option>
            <option value="ore">ore</option>
            <option value="zile">zile</option>
        </select><br>
        </div>
        
        <div>
        <label for="nivel_dificultate">Nivel de dificultate</label>
        <select id="nivel_dificultate" name="nivel_dificultate">
            <option value="incepator">Incepator</option>
            <option value="mediu">Mediu</option>
            <option value="bun">Bun</option>
            <option value="foarte_bun">Foarte bun</option>
            <option value="master_chef">Master chef</option>
        </select><br>
        </div>
        
        <div>
        <label>Lista de ingrediente</label><br>
        <div id="ingrediente">
        <label for="ingredient1"></label>
        <input type="text" id="ingredient1">
        </div>
        <button id="adauga_ingredient"><i class="fa fa-plus"></i>Adauga</button>
        <button id="sterge_ingredient"><i class="fa fa-minus"></i>Sterge</button><br>
        </div>

        <div>
        <label for="preparare">Pasi de preparare:</label><br>
        <textarea id="preparare" name="preparare" rows="4" cols="30"></textarea>
        </div>

        <div>
            <input type="submit" id="adauga_reteta" name="adauga_reteta" value="Adauga">
        </div>  
        <script src="../adauga_sterge_ingredient.js"></script>
    </form>
    </main>

    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a>cv link</a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a>cv link2</a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a>cv link3</a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        </footer>
</body>
</html>