<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acasa</title>
</head>

<body>
	<div id="navbar">
		<a>Rețete</a>
		<a><img src="images/What_The_Food-logos_transparent.png" id="logo" alt="What The Food logo"></a>
		<a><img src="images/account.png" alt="Autentificare"></a>
	</div>

	<div id="search">
		<label ></label>
		<input type="search" id="mySearch" name="q" placeholder="Cauta...">
		<button>Cauta</button>
	</div>


	<div class="containerRetete">
		<div class="reteta"><a href="index.html">
			<img src="images/1.jpg" alt="reteta1"></a>
			<p>Titlul retetei</p>
			<p>Popularitate:28</p>
		</div>

		<div class="reteta"><a href="index.html">
			<img src="images/2.jpg" alt="reteta1"></a>
			<p>Titlul retetei</p>
			<p>Popularitate:22</p>
		</div>

		<div class="reteta"><a href="index.html">
			<img src="images/3.jpg" alt="reteta1"></a>
			<p>Titlul retetei</p>
			<p>Popularitate:5</p>
		</div>

		<div class="reteta"> <a href="index.html">
			<img src="images/4.jpg" alt="reteta1"> </a>
			<p>Titlul retetei</p>
			<p>Popularitate:27</p>
		</div>

		<div class="reteta"> <a href="index.html">
			<img src="images/5.jpg" alt="reteta1"> </a>
			<p>Titlul retetei</p>
			<p>Popularitate:24</p>
		</div>
	</div>

	<footer>
	<p>Creators:</p>
	<div class="creators">
	<div class="creator">
	<p>Boghiu Georgiana</p>
		<a>cv link</a>
	</div>
	<div class="creator">
	<p>Cernat Roxana</p>
		<a>cv link2</a>
	</div>
	<div class="creator">
	<p>Formagiu Miky</p>
		<a>cv link3</a>
	</div>
	</div>
	<p>Copyrights reserved.</p>
	</footer>
</body>

</html>