<!DOCTYPE html>
<html lang="ro">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acasa</title>
</head>
<body>
<div id="navbar">
	<a>Rețete</a>
	<a><img src="images/What The Food-logos_transparent.png" id="logo"></a>
	<a><img src="images/account.png" alt="Autentificare"></a>
</div>

<label id="search">
		<input type="search" id="mySearch" name="q"
			placeholder="Cauta...">
			<button>Cauta</button>
	</label>

</body>
</html>
