<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/login.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>
	<div id="navbar">
		<a>Rețete</a>
		<a><img src="images/What_The_Food-logos_transparent.png" id="logo" alt="What The Food logo"></a>
		<a><img src="images/account.png" alt="Autentificare"></a>
	</div>
	<div class="main">
		<p class="sign" align="center">Login</p>
		<form class="form1">
			<input class="un " type="text" align="center" placeholder="Nume de utilizator">
			<input class="pass" type="password" align="center" placeholder="Parola">
			<a class="submit" align="center">Intra in cont</a>
			<p class="forgot" align="center"><a href="#">Ai uitat parola?</p>
	</div>
</body>

</html>