<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <title>What the food</title>
        <link rel="icon" href="images/favicon1.ico">
        <link rel="icon" type="image" href="images/favicon1.ico">
        <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/nav.css">
<!--        <link rel="stylesheet" type="text/css" href="index_400.css">-->
    </head>
    <body>
        <header>
            <nav>
                <ul class="nav">
                    <li>
                        <div class="search-box">
                            <input class="search-txt" type="text" name="Caută" placeholder="Caută" aria-label="">
                            <a class="search-button" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </li>
                    <li><i class="fas fa-utensils"></i></li>
                    <li><img id="logo-img" src="images/logo.png" alt="Pagina acasa"></li>
                    <li><i class="far fa-heart"></i></li>
                    <li><i class="far fa-user"></i></li>
                </ul>
            </nav>
        </header>

    </body>
</html>