<!DOCTYPE html>
<html lang="ro">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="../css/register.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inregistrare</title>
</head>

<body>
	<div id="navbar">
		<a>Rețete</a>
		<a><img src="images/What_The_Food-logos_transparent.png" id="logo" alt="What The Food logo"></a>
		<a><img src="images/account.png" alt="Autentificare"></a>
	</div>
	<div class="main">
		<p class="sign" align="center">Inregistrare</p>
		<form class="form1">
			<input class="un " type="text" align="center" placeholder="Nume de utilizator">
			<input class="email" type="email" align="center" placeholder="E-mail">
			<input class="pass" type="password" align="center" placeholder="Parola">
			<input class="pass" type="password" align="center" placeholder="Confirma parola">
			<div class="gender">
				<input type='radio' id='male' checked='checked' name='radio'>
				<label for='male'>Male</label>
				<input type='radio' id='female' name='radio'>
				<label for='female'>Female</label>
				<input type='radio' id='altceva' name='radio'>
				<label for='altceva'>Altceva</label>
			</div>
			<a class="submit" align="center">Creeaza un cont</a>
	</div>
</body>

</html>