<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="UTF-8">
        <title>Ovăz cu căpsuni</title>
        <link rel="icon" href="images/favicon1.ico">
        <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../css/reteta.css">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header class="header">
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="Caută" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li>
                    <i class="fas fa-utensils"></i>
                </li>
                <li>
                    <img id="logo-img" src="images/logo.png" alt="Pagina acasa">
                </li>
                <li>
                    <i class="far fa-heart"></i>
                </li>
                <li>
                    <i class="far fa-user"></i>
                </li>
            </ul>
        </nav>
    </header>
        <main>
            <section>
                <div class="container-reteta">

                <div class="imagine-reteta">
                    <img class="img" src="images/retete/oats.jpg" alt="Poza a retetei 1">
                </div>

                <div>
                    <header>
                        <div class="recipe-info">
                            <h1>Ovăz cu căpsuni</h1>
                            <div class="adauga-favorite">
                                <i class="fas fa-heart"></i>
                            </div>
                        </div>
                        <div class="filtre">
                            <div class="time">
                                <i class="far fa-clock"></i>
                                <span class="txt">30min</span>
                            </div>
                            <div class="dificultate">
                                <i class="fab fa-gripfire"></i>
                                <span class="txt">Ușor</span>
                            </div>
                            <div class="popularitate">
                                <i class="far fa-thumbs-up"></i>
                                <span class="txt">30</span>
                            </div>
                        </div>
                    </header>

                    <div class="reteta">

                        <div class="ingrediente">
                            <h2>Ingrediente</h2>

                            <ul class="ingrediente">

                                <li>
                                    <div class="container-ingredient">
                                        <span class="gramaj">50g</span>
                                        <div class="ingredient">
                                            <span class="numele-ingheientului">căpsuni înghețate</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="container-ingredient">
                                        <span class="gramaj">40g</span>
                                        <div class="ingredient">
                                            <span class="numele-ingheientului">fulgi de ovăz</span>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="container-ingredient">
                                        <span class="gramaj">120ml</span>
                                        <div class="ingredient">
                                            <span class="numele-ingheientului">lapte</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="instructiuni">
                            <h2>Instrucțiuni</h2>
                            <ol class="pasi">
                                <li>
                                    In a small bowl, microwave the strawberries on high for 1 - 2 minutes. Mash the thawed strawberries with a fork, and let sit to cool slightly. Alternatively, the strawberries can be thawed on the stove. Note, if using fresh berries (as pictured), it's best to mash it, and then mix it together with some yogurt to retain the freshness of the berries.
                                </li>
                                <li>
                                    In a medium bowl, combine the oats, plant milk, cashew butter, lemon juice, maple syrup, flaxseeds and vanilla extract. If desired, you can add some chopped fresh or frozen strawberries into the oat mixture as well, although optional.
                                </li>
                                <li>
                                    Add the thawed berry mixture to the bottom of a mason jar or airtight container, then add the oat mixture on top of that.
                                </li>
                                <li>
                                    Seal the container, and let it sit overnight in the fridge.
                                </li>
                                <li>
                                    The next morning, top with yogurt and other desired toppings, and enjoy!
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="comentarii">
                            <button class="comentarii-btn">
                                <a href="comentarii.html" class="ref">
                                    <i class="far fa-comments"> </i>
                                    <span class="btn">Ai încercat rețeta?</span>
                                </a>
                            </button>
                    </div>

                </div>
            </div>
            </section>

            <section>
                <div class="container-comentarii">
                    <h2 class="Comentarii">Comentarii</h2>
                    <div class="comm-wraper">
                            <h3 class="nume">Michell Gonzalez</h3>

                            <div class="comm">
<!--                                <p class="comentariu-txt">Cea mai tare reteta ever</p>-->
                                <img  class="coment-img" src="images/1.jpg" alt="poza din cometariu">
                            </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <p>Creators:</p>
            <div class="creators">
                <div class="creator">
                    <p>Boghiu Georgiana</p>
                    <a>cv link</a>
                </div>
                <div class="creator">
                    <p>Cernat Roxana</p>
                    <a>cv link2</a>
                </div>
                <div class="creator">
                    <p>Formagiu Miky</p>
                    <a>cv link3</a>
                </div>
            </div>
            <p>Copyrights reserved.</p>
        </footer>

        </body>
</html>