@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.container-reteta {
    display: flex;
    font-family: Montserrat, sans-serif;
}

.imagine-reteta {
    justify-content: left;
    position: relative;
    padding-top: 2.5em;
    padding-left: 12em;
    padding-right: 4em;
    transition: 0.2s none;
}

.img {
    height: 25em;
    width: 20em;

}

.img:hover {
    border-radius: 1em;
    transform: scale(1.05);
}

header {
    display: block;

}

.recipe-info {
    display: flex;
    flex-direction: row;
    margin-right: 3em;

    font-family: inherit;
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

.adauga-favorite {
    margin-top: 0.6em;
    margin-left: 1em;
    font-size: 2em;
}

.filtre {
    display: flex;
    flex-direction: row;

    font-family: inherit;
}

.time {
    font-family: inherit;
    /*border: 1px solid #E8DED1;*/
    text-align: center;
    border-radius: 3em;
    white-space: nowrap;
    width: 5em;
    background-color: #cfb491;
}

.dificultate {
    font-style: normal;
    text-align: center;
    border-radius: 3em;
    white-space: nowrap;
    width: 5em;
    background-color: #cfb491;
    margin-left: 0.3em;
}

.reteta {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}



 .container-ingredient {
     display: flex;
     flex-direction: row;
 }

 .gramaj {
     padding-right: 0.2em;
 }

 h2 {
     /*margin-left: 1em;*/
     text-align: left;
 }

 .pasi {
     display: block;
     padding-right: 15em;
     overflow: hidden;
 }
.comentarii {
    display: flex;
    width: 10em;
}

.comentarii-btn {
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    outline: none;
    border-color: #E8DED1;
    border-radius: 3em;
    background-color: #cfb491;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.comentarii-btn:hover {
    transform: scale(1.1);
}