<!DOCTYPE html>
<html lang="ro">

<head>
	 <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/public/css/login.css">
	<link rel="stylesheet" href="/public/css/index.css">
	<link rel="icon" href="/public/images/favicon1.ico">
    <script src="https://kit.fontawesome.com/8bc87031e7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/nav.css"> 

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>

	<header>
        <nav>
            <ul class="nav">
                <li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="cauta" placeholder="Caută" aria-label="">
                        <a class="search-button" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </li>
                <li><a href="retetele_mele"><i class="fas fa-utensils"></i></a></li>
                <li><a href="/"><img id="logo-img" src="/public/images/logo.png" alt="Pagina acasa"></a> </li>
                <li><a href="retetele_mele"><i class="far fa-heart"></i></a></li>
                <li><a href="login"><i class="far fa-user"></i></a></li>
            </ul>
        </nav>
    </header>

	<div class="main">
		<p class="sign">Login</p>
		<form class="form1" method="GET" action="localhost:5000/login">
			<input class="un " type="text" placeholder="Nume de utilizator">
			<input class="pass" type="password" placeholder="Parola">
			<a class="submit">Intra in cont</a>
			<p class="forgot" ><a href="#">Ai uitat parola?</a></p>
			<p class="forgot" ><a href="register">Nu ai cont? Alatura-te!</a></p>
		</form>
	</div>

    <footer>
        <p>Creators:</p>
        <div class="creators">
            <div class="creator">
                <p>Boghiu Georgiana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Cernat Roxana</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="creator">
                <p>Formagiu Miky</p>
                <a href="#" class="face">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <p>Copyrights reserved.</p>
        <a class="documentatie" href="documentatie.html" >About the project</a>
    </footer>
</body>

</html>