@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

main {
    margin-bottom: 9em;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

aside{
    background-color: transparent;
    border-radius: 1em;
    display:block;
    width:fit-content;
    padding:1em;
    font-size: 1em;
    box-sizing: content-box;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
    padding-right:5em;
}


#formulare_configurare{
    /* margin:0 auto; */
    background-color: transparent;
    border-radius: 1em;
    display:block;
    width:fit-content;
    padding:1em;
    font-size: 1em;
    box-sizing: content-box;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:hidden;
}

.formular{
    background-color: transparent;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
    padding:2em;
    color: black;
}

.formular div{
    margin-block: 2px;
}

.formular p{
    /*text-align: justify;*/
    text-align: center;
    padding-bottom: 10px;
}

.formular form{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-sizing: content-box;
}

.formular input[type="submit"]{
    align-self:center;
    width:fit-content;
    color: rgba(255, 255, 255, 0.767);
    background-color: transparent;
    background: linear-gradient(to right, #423f3b, #847e77);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    box-sizing: content-box;
    margin-top:5px;
    padding-inline: 1em;
    margin-right:10px;
}

.formular input{
    float:right;
    background-color:transparent;
    border-radius: 1em;
    border-color: rgba(56, 34, 0, 0.39);
}

.admin {
    margin-top: 1em;
    align-items: center;
}



