@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.card .filtre {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 0.8rem;
	text-decoration: none;
	color: inherit;
}

.card .filtre .bg {
	text-align: center;
	border-radius: 3em;
	width: 6em;
	background-color: #cfb491;
}

footer{
	margin-top: 10em;
	display: flex;
	flex-direction: column;
	width:100%;
	padding:0;
	background-color: rgba(207, 180, 145, 0.3);
	font-size:17px;
	font-family:Montserrat, sans-serif;
	text-align: center;
	bottom: 0;
	position: relative;
	/*height: ;*/
	/*z-index: -1;*/

	justify-content: space-between;
	flex-wrap: wrap;
}

.dificultate,
.popularitate {
	margin-left: 0.3em
}

footer p{
	margin: 0 auto;
}

footer .creators{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 0 4em;
}

.creator{
	padding:0;
	margin:5px;
}

/*.creator a{*/
/*	margin:auto 0;*/
/*}*/

.face {
	text-decoration: none;
	color: inherit;
}

.documentatie{
	text-decoration:none;
	color:inherit;
	font-size: 15px;
	margin-top: 8px;
}


@media screen and (max-width:400px){
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	.footer .creators {
		display: flex;
		flex-direction: column;
	}
}
