@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #E8DED1;
}

#logo-img {
    height: 7em;
    width: 7em;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(207, 180, 145, 0.9);
}

.nav li {
    list-style: none;
    z-index: 1;
}

.search-box {
    justify-content: center;
    position: relative;
    float: none;
    height: 2em;
    border-radius: 7em;
    padding: 0;
}

.search-box:hover>.search-txt {
    width: 6em;
    padding-left: 0.4em;
}

.search-button {
    float: none;
    width: 2em;
    height: 2em;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

.search-button2 {
    background-color: inherit;
    text-decoration: inherit;
    color: inherit;
    border: inherit;
}

.search-txt {
    border: none;
    background: none;
    justify-content: center;
    outline: none;
    float: left;
    padding: 0;
    font-size: 1em;
    transition: 0.4s;
    line-height: 2em;
    width: 0;
}

.search-box:focus-within>.search-txt {
    border: 1px solid black;
    border-radius: 3em;
    transition: 0.6s;
}

.nav a {
    text-decoration: none;
    color: inherit;
    z-index: 1;
}

#logout,
#my_recipes,
.layout_div {
    float: right;
    padding: 0.5em;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    z-index: 1;
}

.layout_div {
    float: left;
    padding-left: 1em;
}

#logout button,
#my_recipes button,
.layout_div button {
    background-color: rgb(207, 180, 145);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 1em;
    z-index: 1;
}

#logout a,
#my_recipes a,
.layout_div a {
    text-decoration: none;
    color: inherit;
}