@import url("https://fonts.googleapis.com/css?family=Montserrat:500");



.main {
	background-color: #e8ded1;
	width: 25rem;
	height: 60%;
	margin: 7em auto;
	border-radius: 1.5em;
	box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
	justify-content:center;
	align-items:center;
	
}
@media only screen and (max-width: 600px){
	.main{
	width: 90%;
	}
}

.form1{
	display:flex;
	flex-direction:column;
	align-items: center;
}

.sign {
	text-align:center;
	padding-top: 40px;
	color: #423f3b;
	font-family: Montserrat, sans-serif;
	font-weight: bold;
	font-size: 23px;
	padding-bottom:1rem;
}

.un {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
	margin-bottom: 27px;
	font-family: Montserrat, sans-serif;
}

 .pass {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
	margin-bottom: 27px;
	font-family: Montserrat, sans-serif;
	}

.email {
	width: 76%;
	color: rgb(38, 50, 56);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	background: rgba(136, 126, 126, 0.04);
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	outline: none;
	box-sizing: border-box;
	border: 2px solid rgba(0, 0, 0, 0.02);
	text-align: center;
	margin-bottom: 27px;
	font-family: Montserrat, sans-serif;
}

.gender {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px){
	.gender{
	flex-direction:column;
	}
}


input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	z-index: 10;
	margin: 0 10px 10px 0;
	position: relative;
	color: #7b8388;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	font-weight: bold;
	background-color: #e8ded1;
	border: 2px solid #7b8388;
	cursor: pointer;
	transition: all 200ms ease;
	margin-bottom: 27px;
}

input[type="radio"]:checked + label {
	color: #e8ded1;
	background-color: #45423e;
}

input[type="radio"] + label {
	padding: 5px 20px;
	border-radius: 15px;
}

.submit {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, #423f3b, #847e77);
	border: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
	margin-bottom:2rem;
}

.forgot {
	text-shadow: 0 0 3px rgba(117, 117, 117, 0.12);
	color: #1d1c1a;
	padding-top: 15px;
}

