@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.container-reteta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Montserrat, sans-serif;

}

.imagine-reteta {
    transition: 0.2s none;
    margin-top: 2.5em;
    padding-left: 2.5em;
    object-fit: cover;
    /* padding-right: 4em; */
}

.header h1 {
    text-align: center;
}

.img {
    height: 25em;
    width: 19em;
}

.img:hover {
    border-radius: 1em;
    transform: scale(1.05);
}

.recipe-info {
    display: flex;
    flex-direction: row;
    /*margin-right: 3em;*/
    /*font-family: inherit;*/
    padding-left: 2em;
    /* padding-right: 4em; */
}

h1 {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
}

.adauga-favorite {
    margin-top: 0.3em;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.filtre {
    display: flex;
    flex-direction: row;
    font-family: inherit;
    font-size: 0.9rem;
    margin-top: 1em;
    justify-content: left;
    padding-left: 2em;
    padding-right: 4em;
}

.time {
    text-align: center;
    border-radius: 3em;
    width: 7em;
    background-color: #cfb491;
}

.dificultate,
.popularitate {
    text-align: center;
    border-radius: 3em;
    width: 7em;
    background-color: #cfb491;
    margin-left: 0.3em;
}

.reteta {
    padding-left: 2em;
    padding-right: 4em;
}

.container-ingredient {
    display: flex;
    flex-direction: row;
}

.gramaj {
    padding-right: 0.2em;
}

.ref {
    text-decoration: none;
    color: inherit;
}

.comentarii-btn {
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    outline: none;
    border-color: #cfb491;
    border-radius: 3em;
    background-color: #cfb491;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 2em;
    margin-top: 1em;
}

.comentarii-btn:hover {
    transform: scale(1.1);
}

.container-comentarii {

    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1em;
}

.comm-wraper {
    display: inline;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.comm-wraper .nume {
    padding-right: 2rem;
}

.comm .coment-img {
    width: 40%;
}

@media screen and (min-width: 1000px) {
    .container-reteta {
        flex-direction: row;
        justify-content: left;
        padding-left: 4rem;
    }
    .imagine-reteta {
        padding-right: 4rem;
        padding-left: 8rem;
    }
}

.collapsible {
    background-color: #d2b897;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #e1d1be;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.comment {
    background-color: #e8ded1;
    width: auto;
    height: auto;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.14);
    border: 15px solid #e8ded1;
    }
}

@media screen and (max-width:400px) {
    .comment {
        margin: 1em auto;
    }
    .content {
        padding: 0 5px;
    }
    .Comentarii {
        padding-left: 0;
    }
    .container-comentarii {
        margin-top: 10px;
        margin-left: 10px;
    }
    .img {
        height: 15em;
        width: 10em;
    }
    #recipe_title {
        font-size: 1em;
    }
    .header h1 {
        width: 6em;
    }
    .reteta {
        padding-right: 0;
    }
    .recipe-info {
        width: 90%;
    }
    .filtre {
        padding-right: 0;
    }
}
