@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.containerRetete {
    margin-top: 8em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reteta {
    border-radius: 2em;
    border-color: cadetblue;
    padding: 1em;
    margin: 1em;
    background-color: rgba(0, 99, 71, 0.3);
}

.reteta img {
    width: 99%;
    height: 12rem;
    object-fit: cover;
}

.reteta p {
    font-size: 1em;
    margin-bottom: 0.5em;
}