@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.containerRetete {
    margin: 5em 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reteta {
    border-radius: 2em;
    border-color: cadetblue;
    padding: 2em;
    margin: 1em;
    background-color: rgba(0, 99, 71, 0.3);
}

.reteta img {
    width: 19em;
    height: 25em;
}

.reteta p {
    font-size: 1em;
    margin-bottom: 0.5em;
}