@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

.card .filtre {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding-bottom: 0.8rem;
}

.card .filtre .bg {
	text-align: center;
	border-radius: 3em;
	width: 5em;
	background-color: #cfb491;
}

.dificultate,
.popularitate {
	margin-left: 0.3em
}

footer{
	width:100%;
	object-fit: fill;
	padding:0;
	background-color: rgba(207, 180, 145, 0.3);
	font-size:17px;
	font-family:Montserrat, sans-serif;
	text-align: center;
	display: block;
	height:fit-content;
	bottom: 0;
}

footer p{
	margin: 0 auto;
}

footer .creators{
	column-count: 3;
	column-gap: 3em;
	display:inline-block;
	padding:10px 0;
}

.creator{
	padding:0;
	margin:5px;
}

.creator a{
	margin:auto 0;
}

.face {
	text-decoration: none;
	color: inherit;
}

