@import url("https://fonts.googleapis.com/css?family=Montserrat:500");


html,body{
	font-family: Montserrat, sans-serif;
	padding:0px;
	margin:0px;
	height:100%;

	background-image:url("../views/images/background.png");
	background-size: 100% auto;
  	background-repeat: repeat-y;
	padding:0px;
	margin:0px;
}

#navbar
{
display: flex;
justify-content:space-evenly;
text-align:center;
}
#search{
display:block;
width:20em;
margin:0 auto;
}
label button:first-of-type
{
	font-family: Montserrat, sans-serif;
	background-color:#E8DED1;
	border-radius:2em;
	height:2.5em;
	width:4.5em;
}

#navbar a{
	align-self:center;
}

#navbar #logo
{
	width:11em;
	max-height:fit-content;
}

#navbar img
{
width: 2em;
margin: auto;
}

#mySearch{
	height:3em;
	width:17em;
	margin:auto;
	border-color:green;
	border-radius:2em;
	font-family: Montserrat, sans-serif;
	background-color:#E8DED1;
;
}
nav
{
	display: inline;
}

footer{
	padding:0;
	background-color: rgb(64,90,39,0.7);
	font-size:17px;
	font-family:Montserrat, sans-serif;
	text-align: center;
	display: block;
  	bottom: 0;
	width:100%;
	position:sticky;
	height:fit-content;
}

footer p{
	margin: 0 auto;
}

footer .creators{
	column-count: 3;
	column-gap:auto;
	display:inline-block;
	padding:10px 0px;
}

.creator{
	padding:0;
	margin:5px;
}

.creator a{
	margin:auto 0;
}


