@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

body{
	font-family: Montserrat, sans-serif;
	background-image:url("../views/images/background.png");
	padding:0px;
	margin:0px;
}

#navbar
{
display: flex;
justify-content:space-evenly;
text-align:center;
}
#search{
display:block;
width:20em;
margin:0 auto;
}
label button:first-of-type
{
	font-family: Montserrat, sans-serif;
	background-color:#E8DED1;
	border-radius:2em;
	height:2.5em;
	width:4.5em;
}

#navbar a{
	align-self:center;
}

#navbar #logo
{
	width:11em;
	max-height:fit-content;
}

#navbar img
{
width: 2em;
margin: auto;
}

#mySearch{
	height:3em;
	width:17em;
	margin:auto;
	border-color:green;
	border-radius:2em;
	font-family: Montserrat, sans-serif;
	background-color:#E8DED1;
;
}
nav
{
	display: inline;
}

.containerRetete{
	margin:5em 0;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

.reteta{
	border-radius:2em;
	border-color:cadetblue;
	padding:2em;
	margin:1em;
	background-color:rgba(0, 99, 71, 0.3);
}

.reteta img{
	width:12em;
	height:12em;
}

.reteta p{
	font-size:1em;
}

footer{
	margin-left:0px;
	margin-right:0px;
	padding:3em;
	background-color:rgba(0,0,0,0.01);
	font-size:1em;
}


footer{
	font-family:Montserrat, sans-serif;
	text-align: center;
}
.creators{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
	column-count: 3;
	column-gap:40px;
}

