@import url("https://fonts.googleapis.com/css?family=Montserrat:500");



.filter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	z-index: 10;
	margin: 0 10px 10px 0;
	position: relative;
	color: #7b8388;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	font-weight: bold;
	background-color: #e8ded1;
	border: 2px solid #7b8388;
	cursor: pointer;
	transition: all 200ms ease;
	margin-bottom: 27px;
}

input[type="radio"]:checked + label {
	color: #e8ded1;
	background-color: #45423e;
}

input[type="radio"] + label {
	padding: 5px 20px;
	border-radius: 15px;
}


.submit {
	cursor: pointer;
	border-radius: 5em;
	color: #fff;
	background: linear-gradient(to right, #423f3b, #847e77);
	border: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}


.containerRetete{
	margin:5em 0;
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}

.reteta{
	border-radius:2em;
	border-color:cadetblue;
	padding:2em;
	margin:1em;
	background-color:rgba(0, 99, 71, 0.3);
}

.reteta img{
	width:12em;
	height:12em;
}

.reteta p{
	font-size:1em;
}
