<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>WhaF Ghid Utilizator </title>
    <link rel="stylesheet" type="text/css" href="https://w3c.github.io/scholarly-html/css/scholarly.min.css"/>

</head>
<body>
  <div role="contentinfo">

    <h1>WhaF Ghid Utilizator</h1>

    <h2>Cuprins</h2>

    <ol role="directory">

      <li>

        <span>1.</span>
        <a href="#contul_meu">
          Contul meu
        </a>

        <ol role="directory">
          <li>
            <span>1.1.</span>
            <a href="#register">
              Creare cont
            </a>
          </li>

          <li>
            <span>2.2.</span>
            <a href="#login">
              Autentificare
            </a>
          </li>

          <li>
            <span>2.3.</span>
            <a href="#schimbare">
              Schimbare date cont
            </a>
          </li>

          <li>
            <span>2.4.</span>
            <a href="#admin_page">
              Pagina de admin
            </a>
          </li>

        </ol>

      </li>

      <li>
        <span>2.</span>
        <a href="#index">
          Acasa
        </a>
      </li>

      <li>
        <span>3.</span>
        <a href="#retete">
          Retete
        </a>

        <ol role="group">

          <li>
            <span>3.1.</span>
            <a href="#retetele_mele">
              Retetele mele</a>
          </li>

          <li>
            <span>3.2.</span>
            <a href="#adauga_retea">
              Adauga reteta</a>
          </li>

          <li>
            <span>3.3.</span>
            <a href="#filtrare">
              Filtrare retete
            </a>
          </li>

        </ol>

      </li>

      <li>
        <span>4.</span>
        <a href="#reteta">
          Reteta
        </a>

        <ol role="group">

          <li>
            <span>4.1.</span>
            <a href="#comentarii">
              Comentarii
            </a>
          </li>

          <li>
            <span>4.2.</span>
            <a href="#adauga_comentariu">
              Ai incercat reteta?
            </a>
          </li>

        </ol>

      </li>

      <li>
        <span>5.</span>
        <a href="#favorite">
          Retete Favorite
        </a>
      </li>

      <li>
        <span>6.</span>
        <a href="#logout">
          Deconectare
        </a>
      </li>

      <li>
        <span>7.</span>
        <a href="#error">
          Pagini de eroare
        </a>
      </li>

    </ol>
  </div>

  <section id="contul_meu">
    <h3>1. Contul meu</h3>

    <p>Pagina contul meu poate fi accesata apasand butonul contul meu.</p>

    <figure typeof="sa:image">
      <img alt="buton contul meu" src="../../images/documentatie/contul_meu.png">
      <figcaption>Fig.1 - Butonul "Contul meu"</figcaption>
    </figure>

    <section id="register">
      <h4>1.1 Creare cont</h4>
      <p>Pentru a va crea un cont, trebuie sa apasati butonul "Nu ai cont? Alatura-te" aflat pe pagina Contul meu a site-ului.</p>
      <figure typeof="sa:image">
        <img alt="butonul de creare cont" src="../../images/documentatie/register.png">
        <figcaption>Fig.2 - Butonul "Creaza cont"</figcaption>
      </figure>
    </section>

    <section id="login">
      <h4>1.2 Autentificare</h4>
      <p>Logarea se face completand formularul de pe pagina "Contul meu".</p>
      <figure typeof="sa:image">
        <img alt="pagina contul meu" src="../../images/documentatie/pagina_contul_meu.png">
        <figcaption>Fig.3 - Pagina "Contul meu"</figcaption>
      </figure>
    </section>

    <section id="#schimbare">
      <h4>1.3 Schimbare date cont</h4>
      <p>Pentru un utilizator logat pe pagina <a href="#contul_meu">contul meu</a> va deveni disponibil un panou ce va permite schimbarea datelor contului.</p>
      <figure typeof="sa:image">
        <img alt="pagina contul meu pentru un user logat" src="../../images/documentatie/contul_meu_user.png">
        <figcaption>Fig.4 - Pagina "Contul meu" pentru un utilizator logat</figcaption>
      </figure>
    </section>

    <section id="#admin_page">
      <h4>1.4. Pagina de admin</h4>
      <p>Pentru un admin logat pe pagina <a href="#contul_meu">contul meu</a> va deveni disponibil un buton ce va permite redirectarea catre o pagina ce va contine toate tipurile de promovari/restrictionari pe care poate sa le aplice un admin.</p>
      <figure typeof="sa:image">
        <img alt="pagina pentru admini" src="../../images/documentatie/admins_page.png">
        <figcaption>Fig.5 - "Pagina de admin"</figcaption>
      </figure>
    </section>

  </section>

  <section id="index">
    <h3>2. Acasa</h3>

    <p>Butonul pentru pagina principala este reprezentat de logo-ul paginii aflat in centrul barei de navigare.</p>

    <figure typeof="sa:image">
      <img alt="butonul de creare cont" src="../../images/documentatie/index.png">
      <figcaption>Fig.6 - Butonul "Acasa"</figcaption>
    </figure>
    <p>Pe aceasta pagina se vor afisa retetele sortate dupa popularitate</p>
  </section>

  <section id="retete">

    <h3>3. Retete</h3>

    <figure typeof="sa:image">
      <img alt="butonul accesare retete" src="../../images/documentatie/retete.png">
      <figcaption>Fig.7 - Butonul "Retete"</figcaption>
    </figure>

    <p>Pe aceasta pagina se vor afisa retetele sortate dupa popularitate.</p>

    <section id="retetele_mele">
      <h4>3.1 Retele mele</h4>

      <figure typeof="sa:image">
        <img alt="pagina retetele mele utilizator logat" src="../../images/documentatie/retetele_mele_logat.png">
        <figcaption>Fig.8 - Pagina "Retetele Mele" pentru un utilizator logat</figcaption>
      </figure>

      <figure typeof="sa:image">
        <img alt="pagina retetele mele utilizator nelogat" src="../../images/documentatie/retetele_mele_nelogat.png">
        <figcaption>Fig.9 - Pagina "Retetele Mele" pentru un utilizator care nu este logat</figcaption>
      </figure>

      <p> Butonul pentru retele mele va aparea daca utilizatorul logat</p>

      <figure typeof="sa:image">
        <img alt="butonul accesare retetele mele" src="../../images/documentatie/retetele_mele.png">
        <figcaption>Fig.10 - Butonul "Retetele Mele"</figcaption>
      </figure>

      <p>Se vor afisa toate retetele postate de un utilizator.</p>
    </section>

    <section id="adauga_Reteta">
      <h4>3.2 Adauga reteta</h4>

      <p> Butonul pentru adauga o reteta va aparea daca utilizatorul logat</p>

      <figure typeof="sa:image">
        <img alt="butonul adauga reteta" src="../../images/documentatie/adauga_reteta.png">
        <figcaption>Fig.11 - Butonul "Adauga o reteta"</figcaption>
      </figure>

      <p>Dupa apasarea butonului se fa face redirectarea catre o pagina ce va permite completarea unui formular ce va contine detaliile necesare pentru postarea unei retete.</p>
      <figure typeof="sa:image">
        <img alt="formular adauga reteta" src="../../images/documentatie/formular_adauga_reteta.png">
        <figcaption>Fig.12 - Formular "Adauga o reteta"</figcaption>
      </figure>

      <p>Campurile titlu, ingrediente, poza si pasi de preparare trebuiesc completate, in timp ce ceelalte pot fi lasate libere</p>
    </section>

    <section id="filtrare">
      <h4>3.3 Filtrare retete</h4>
      <figure typeof="sa:image">
        <img alt="panou filtrare retete" src="../../images/documentatie/panou_filtrare.png">
        <figcaption>Fig.13 - Panoul de filtrare al retetelor</figcaption>
      </figure>

      <p>Retele vor putea fi sortate dupa nivelul de dificultare, timpul de prepareare, existenta/inexistenta anumitor ingrediente, acestea vor putea fi folosite ca si criterii de sortare ce vor putea fi ordonate ascendent/descendent</p>
      <p>Campurile de include/exclude nu pot si completate in acelasi timp cu campurile de sortare si ordonare. Pentru sortare e nevoie sa selectati atat ordinea, cat si criteriul de sortare.</p>
      <p>Se vor afisa retete conform criteriilor de filtrare.</p>

    </section>
  </section>

  <section id="reteta">
    <h3>4. Reteta </h3>

    <p>Pe pagina reteta se ajunge dand click pe o anumita reteta.</p>

    <figure typeof="sa:image">
      <img alt="pagina reteta" src="../../images/documentatie/reteta.png">
      <figcaption>Fig.14 - Pagina "Reteta"</figcaption>
    </figure>

    <section id="comentarii">
      <h4>4.1 Comentarii</h4>
      <p>Comentariile sunt afisate in partea de jos a paginii, imediat dupa retetea</p>
    </section>

    <section id="adauga_comentariu">
      <h4>4.2 Adauga comentariu</h4>
      <figure typeof="sa:image">
        <img alt="adauga comentariu" src="../../images/documentatie/adauga_comentariu.png">
        <figcaption>Fig.15 - Butonul "Adauga comentariu"</figcaption>
      </figure>

      <p>Va face redirectarea catre pagina care contine formularul pentru adaugarea unui comentariu</p>

      <figure typeof="sa:image">
        <img alt="formular adauga comentariu" src="../../images/documentatie/formular_adauga_comentariu.png">
        <figcaption>Fig.16 - Formularul "Adauga comentariu"</figcaption>
      </figure>
      <p> Daca utlizatorul este logat, atunci se va adauga comentariul, altfel utilizatorul nefiind logat, nu va putea adauga un comentariu</p>
    </section>
  </section>

  <section id="favorite">
    <h3>5. Retete favorite</h3>
    <p>O reteta poate fi adaugata la favorite apasand butonul "inima". Acest buton va fi vizibil pe pagina <a href="#reteta">reteta</a> </p>

    <figure typeof="sa:image">
      <img alt="buton adauga la favorite" src="../../images/documentatie/reteta_nu_favorite.png">
      <figcaption>Fig.17 - Butonul "Adauga la favorite"</figcaption>
    </figure>

    <p>Dupa ce o reteta a fost adaugata la favorite, aceasta va fi gasita in pagina favorite</p>

    <figure typeof="sa:image">
      <img alt="pagina favorite" src="../../images/documentatie/pagina_favorite.png">
      <figcaption>Fig.18 - Pagina "Favorite"</figcaption>
    </figure>

    <p>Reteta poate fi stearsa de la favorite apasand butonul "inima plina", disponibil find atat pe pagina <a href="#reteta">reteta</a>, cat si pe pagina <a href="#favorite">favorite</a> </p>

    <figure typeof="sa:image">
      <img alt="buton sterge favorite" src="../../images/documentatie/sterge_Favorite.png">
      <figcaption>Fig.19 - Butonul "Sterge favorite"</figcaption>
    </figure>
  </section>

  <section id="logout">
    <h3>6. Deconectare</h3>
    <p>Butonul de deconectare este disponibil pentru un utilizator logat pe paginile <a href="#contul_meu">contul meu</a>, <a href="#index">acasa</a>, <a href="#retete">retete</a>, <a href="#adauga_reteta">adauga reteta</a>, <a href="#retetele_mele">retetele mele</a>, <a href="contul meu">contul meu</a>.</p>
    <figure typeof="sa:image">
      <img alt="buton deconectare" src="../../images/documentatie/logout.png">
      <figcaption>Fig.20 - Buton "Deconectare"</figcaption>
    </figure>
  </section>

  <section id="error">
    <h3>7. Pagini de eroare</h3>
    <p>Diferitele coduri de eroare vor returna pagini specifice</p>
    <ol role="list">
      <li>400 - cod generic de eroare</li>
      <li>401 - utilizatorul nu este logat</li>
      <li>403 - utilizatorul nu are dreptul de a realiza aceasta operatiune</li>
      <li>404 - utilizator/reteta/comentariu nu a fost gasit</li>
      <li>500 - eroare interna</li>
    </ol>
  </section>
</body>
</html>